body{
	background-image: url(https://images.pexels.com/photos/916337/pexels-photo-916337.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940);
	background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh; 
    width: 100%
}

.findout{
	font-size: 64px;
	    font-family: "Times New Roman", Times, serif;

	margin-top: 250px;
	text-align: center;
	color: black;
}
.btns{
	text-align: center;
	
	}
.btn{
	font-size: 36px;
background-color: orange;
	border-radius: 30px;
	color: white;
  cursor: pointer;
	position: absolute;

}
.btn:hover{
	background-color: grey;

}
